ROBINHOOD_RPC_URL=https://rpc.testnet.chain.robinhood.com
ROBINHOOD_CHAIN_ID=46630
ROBINHOOD_EXPLORER_URL=https://explorer.testnet.chain.robinhood.com
ROBINHOOD_VERIFIER_URL=https://explorer.testnet.chain.robinhood.com/api/
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ARBITRUM_ONE_RPC_URL=https://arb1.arbitrum.io/rpc
STYLUS_ENDPOINT=https://rpc.testnet.chain.robinhood.com
DEPLOYER_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000
WARDEN_AGENT_ADDRESS=
WARDEN_AGENT_PRIVATE_KEY=
WARDEN_LIVE_SLASH_AMOUNT=100
ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=
